<div class="row my-4">
    <div class="offset-lg-4 col-lg-5">
        <div class="card">
            <div class="card-body">
                <form action="" method="post" (submit)="edit ? updateProduct() : onSubmit()">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" [(ngModel)]="product.name" required name="name" id="name" class="form-control" autofocus placeholder="Clayton Schultz">
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" [(ngModel)]="product.price" required step="0.01" name="price" id="price" class="form-control" placeholder="99.39">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" [(ngModel)]="product.description" required name="description" id="description" class="form-control" placeholder="lorem...">
                    </div>
                    <div class="mb-3">
                        <label for="imageURL" class="form-label">Image URL</label>
                        <input type="text" [(ngModel)]="product.imageURL" required name="imageURL" id="imageURL" class="form-control" placeholder="https://pexel.com">
                    </div>
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>